:root{
    --color1: #fef1f9;
    --color2: #fde6f5;
    --color3: #fecced;
    --color4: #fe95d7;
    --color5: #fc6ac3;
    --color6: #f63ea9;
    --color7: #e61c87;
    --color8: #d43d89;
    --color9: #d33c85;
    --color10: #c5337a;
    --color11: #680c38;
}