
body{
    background-image: url('/images/mi-min-pkpqoBp11Jc-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


main{
    background-color: color-mix(in srgb, var(--color2) 50%, transparent);
    color: var(--color7);
    flex: 0;
    margin: auto;
    padding: 40px;
}
ol{
    margin: 10px;
}
ol li{
    margin-top: 10px;
}
article{
    display: flex;
}

.tycdiv1{
    text-wrap: wrap;
    flex: 3;
}
.tycdiv2{
    flex: 1;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
}
.tycdiv2 img{
    max-width: 200px;
    border-radius: 20px;
}

@media(max-width: 768px){
    article{
        display: flex;
        flex-direction: column;
    }
    .tycdiv2{
        margin: auto;
    }
}