body{
    background-image: url('/images/pexels-steve-12824638.jpg');
    background-size: cover;
    background-position: center;
    -webkit-backdrop-filter: blur(20px) !important;
    backdrop-filter: blur(200px) !important;
    
}

main{
    max-width: 1500px;
    background-color: color-mix(in srgb, var(--color2) 50%, transparent);
    
    isolation: isolate;
}


.categorias h2{
    justify-content: center;
    text-align: center;
    align-items: center;
    color: var(--color5);
    text-shadow: 0 0 15px rgba(255, 255, 255, .099);

}
.categorias h3{
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--color5);

}